

 
 
 
 <div id="id01" class="modal">
	
		
		
		  <form class="modal-content animate" [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
			<div class="container">
			<div class="col-xs-12 col-md-12"> 
				  
		 <h3><b>Signup For GitTracker</b></h3>
			
			  <input type="email" class="form-control" formControlName="email"  placeholder="Mail Id" required>  
		<br>
		<br>
			  <input type="password" class="form-control" formControlName="username" placeholder=" Password"required>
		
		<br><br>
			
				<button type="cancel" class="btn btn-danger col-xs-2 col-md-2 a" onclick="document.getElementById('id01').style.display='none'"style="  margin-right: 0.2cm;">Cancel</button>
				<button type="submit" class="btn btn-success col-xs-2 col-md-2 a"onclick="document.getElementById('id01').style.display='none'">Signup</button>
			
		 </div> </div></form>
			</div>
<script>
// Get the modal
var modal = document.getElementById('id01');

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}
</script>

	
	
	<div class="container col-md-12">
		<div class="row col-md-5"></div>
		<div class="row col-md-6"><br><br><br>
			<div class="form_bg">
				<form  [formGroup]="form" (ngSubmit)="onSubmits(form.value)">
					 <h2 class="text-center">GitTracker Login</h2>
					<br/>
									

					<div class="form-group" >
						<input type="email" class="form-control" formControlName="email"  placeholder="User id" required>
					</div>
					<div class="form-group">
							<input type="password" class="form-control" formControlName="username" placeholder="password" required>
						</div>
					
	<div class="form-group">
	<a onclick="document.getElementById('id01').style.display='block'">create new account</a>
	</div>
					   <div class="align-center">
					<button type="submit" class="btn btn-success" >Login</button>
					<div *ngIf="error" class="alert alert-error" style="color:red;">{{error}}</div>
						</div>
				</form>
			</div>
		</div>
	</div>


	