* {
    margin: 0;
    padding: 0;
}

h1, h3{
  text-transform: uppercase;
  font-weight: normal;
}

.tabs{
    width: 600px;
    display: block;
    margin: 10px auto;
    position: absolute;
}

.tabs .tab{
    float: left;
    display: block;
}

.tabs .tab>input[type="radio"] {
    position: absolute;
  
}

.tabs .tab>label {
    
    display: block;
    padding: 6px 21px;
    font-size: 12px;
    text-transform: uppercase;
    cursor: pointer;
    position: relative;
    background:rgb(235, 236, 235);
    color: rgb(43, 34, 34);
}

.tabs .content {
    z-index: 0;/* or display: none; */
    overflow: hidden;
    width: 160%;
    padding: 25px;
    position: absolute;
    top: 27px;
    left: 0;
    background: white;
    color:black;
    
    opacity:0;
    transition: opacity 400ms;
}

.tabs>.tab>[id^="tab"]:checked + label {
    top: 0;
    background: #303030;
    color: grey;
}

.tabs>.tab>[id^="tab"]:checked ~ [id^="tab-content"] {
    z-index: 1;/* or display: block; */
   
    opacity: 1;
    transition: opacity 400ms ease-out;
}
input[type=email] {
    width: 500px;
   
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;

}
.container {
    padding: 20px;
}
.modal {
    display: none;
    position: right;
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
  
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
    padding-top: 60px;
}

.modal-content {
    
    background-color: #fefefe;
    margin: 5% auto 15% auto;
    border: 1px solid #888;
    width: 50%; 
    height: 60%;
    overflow-y:hidden; 
    overflow-x: hidden;
}

.close {
    position: absolute;
    right: 15px;
    top: 10px;
    color: #0e0d0c;
    font-size: 30px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: rgb(243, 16, 0);
    cursor: pointer;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(100, 4, 235, 0.2);
   
    width: 270px;
    height:180px;
    margin: 15px;
    text-align: center;
    font-family: arial;
   
     
  }
  
  .title {
    color: grey;
    font-size: 18px;
    color: blue;
  }
  
#b {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color:grey;
    text-align: center;
    
    cursor: pointer;
    width: 100%;
    font-size: 15px;
  }
  
  a {

    text-decoration: none;

    color: blue;
  }
  
  #b:hover, a:hover {
    opacity: 0.7;
  }
  
 
 .span  svg{float:right}
.span span:nth-of-type(1) { float:left }
.span span:nth-of-type(2) { float:right }
    
.card-footer{
    position:absolute;
      bottom:0;
      width:90%;
      padding: 10px;
    }
    table{
        
        overflow:auto;
        display:block;
        }
        td[value="0"] {
            color:#98FB98	;
        }
        .ntrs{
            background-color:#949993;
            height:100%;
            width:100%;
            text-align:center;
        }
        .trs{
            background-color:#aef801;
            height:100%;
            width:100%;
            text-align:center;
        }
        .mtrs{
            background-color:#08ff46;
            height:100%;
            width:100%;
            text-align:center;
        }
        .htrs{
            background-color:#127e06;
            height:100%;
            width:100%;
            text-align:center;
        }
        th{
            font-size: 10px;
            width:1500px;
        }
        td{
             font-size: 12px;
             width:1500px;
        }
        .vertical-menu {
            background-color: grey;
            height: 100%;
            width: 80%;
            padding-top: 30px;
            }
            .vertical-menu #bttn,#bttn1,#bttn2,#bttn3{
        
            color: white;
            display: block;
            padding: 15px;
            text-decoration: none;
           
         
            }
            #bttn:hover{background-color:rgb(96, 97, 96);}
            #bttn1:hover{background-color:rgb(96, 97, 96);}
            #bttn2:hover{background-color:rgb(96, 97, 96);}
            #bttn3:hover{background-color:rgb(96, 97, 96);}
            body{
                height: 100%;
             
                }
                .display{
                   
                    height: 91%;
                    overflow:scroll;   
                }
              .vertical-menu{
                  margin-left: -26;
              }
              .commit{
                  overflow: auto;
              }
              .my-container img {
                position: fixed;
                left: 0;
                top: 7%;
                width: 100%;
                height: auto;
                opacity: 0.2;
            }
            .form_bg {
               margin: 0px auto 0px;
               background-color:#eee;
               color:grey;
               padding:20px;
               border-radius:50px;
               margin: 0;
               padding: 0;
               background: rgb(255, 255, 255);
               border:1px solid teal;
               width: 1350px;
               height: 800px;
           }
           .align-center {
               text-align:center;
           }
           #c {
               background-size: 100% 195%;
                background-repeat: no-repeat;
            }
           
           td:hover{background-color:rgb(195, 206, 195);}
        form{
            padding-left:20px;
            width:590;
            height:250;
            overflow-y:scroll;
           
        }
        